*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.iml
.idea
#.idea/workspace.xml
build/
build.gradle
gradle.properties
/gradle/*
gradlew
gradlew.bat
settings.gradle
